@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@theme {
  --color-headercolor: #201f24;
  --color-signup: #201f24;
  --color-totalsaved: #f8f4f0;
  --color-divider: #f2f2f2;

  --shadow-sort: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Public Sans", sans-serif;
  min-height: 100vh;
  background-color: #f8f4f0;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #201f24;
  border-radius: 8px 8px 0px 0px;
}
