@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@theme {
  --color-headercolor: #201f24;
  --color-signup: #201f24;
}

body {
  font-family: "Public Sans", sans-serif;
  min-height: 100vh;
  background-color: #f8f4f0;
}
